<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="payment">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{'Menu.Home' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="relationship">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>{{'Menu.Relationship' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{'Menu.Option'| translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>